<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal</Template><TotalTime>689</TotalTime><Application>LibreOffice/7.5.4.2$Linux_X86_64 LibreOffice_project/50$Build-2</Application><AppVersion>15.0000</AppVersion><Pages>5</Pages><Words>1100</Words><Characters>5953</Characters><CharactersWithSpaces>6970</CharactersWithSpaces><Paragraphs>89</Paragraphs></Properties>